---
import NextJsIcon from './icons/NextJSIcon.astro';
import TailwindIcon from './icons/TailwindIcon.astro';
import PrismaIcon from './icons/PrismaIcon.astro';
import MongoDBIcon from './icons/MongoDBIcon.astro';
import ReactJSIcon from './icons/ReactJSIcon.astro';
import GitHubIcon from './icons/GitHubIcon.astro';
import LinkButton from './LinkButton.astro';
import WebIcon from './icons/WebIcon.astro';

const TAGS = {
  NEXT: {
    name: 'Next.js',
    class: 'border-white',
    icon: NextJsIcon,
  },
  TAILWIND: {
    name: 'TailwindCSS',
    class: 'border-[#73bcf6]',
    icon: TailwindIcon,
  },
  PRISMA: {
    name: 'Prisma',
    class: 'border-white',
    icon: PrismaIcon,
  },
  MONGO: {
    name: 'MongoDB',
    class: 'border-green-500',
    icon: MongoDBIcon,
  },
  REACT: {
    name: 'ReactJS',
    class: 'border-blue-500',
    icon: ReactJSIcon,
  },
};

const PROJECTS = [
  {
    title: 'Basketball stats tracker (Currently in progress...)',
    desc: 'A basketball web app to keep a record of your game stats.',
    // link: '#',
    // github: '#',
    image: '/public/images/projects/project-2.webp',
    // tags: [TAGS.NEXT, TAGS.PRISMA, TAGS.TAILWIND, TAGS.MONGO, TAGS.REACT],
    tags: [],
  },
  {
    title: 'A company management dashboard',
    desc: 'Simple dashboard to manage companies and clients, made with NextJS following a course with the purpose of learning the framework.',
    // link: '#',
    github: 'https://github.com/UnaiGonzalezGarces/company-dashboard',
    image: '/public/images/projects/project-1.webp',
    tags: [TAGS.NEXT, TAGS.PRISMA, TAGS.TAILWIND, TAGS.MONGO, TAGS.REACT],
  },
];

const articleClassLeft = 'md:flex gap-x-4 md:items-center lg:items-start';
const articleClassRight = 'md:flex md:justify-between md:flex-row-reverse gap-x-4 md:items-center lg:items-start';
---

<section class='flex flex-col gap-y-16'>
  {
    PROJECTS.map(({ title, desc, tags, link, github, image }, index) => (
      <div>
        <article class={`${index % 2 === 0 ? articleClassLeft : articleClassRight}`}>
          <img
            class='rounded-3xl shadow-2xl md:max-h-45 lg:max-h-none md:max-w-100 shadow-white/20 mb-5 md:mb-0'
            src={image}
            alt={`Captura de pantall del proyecto ${title}`}
          />

          <div>
            <div>
              <h3 class='text-2xl font-semibold text-yellow-200 mb-2'>{title}</h3>
              <p class='text-lg mb-4 text-pretty'>{desc}</p>
              <ul class='flex gap-x-2 flex-row flex-wrap'>
                {tags.map((tag) => (
                  <li>
                    <span class={`border bg-slate-900 flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 items-center`}>
                      <tag.icon class='size-5' />
                      {tag.name}
                    </span>
                  </li>
                ))}
              </ul>
            </div>
            <div>
              <footer class='flex gap-x-2 justify-start mt-4'>
                {github && (
                  <LinkButton href={github}>
                    <GitHubIcon class='size-6' />
                    Ver código
                  </LinkButton>
                )}

                {link && (
                  <LinkButton href={link}>
                    <WebIcon class='size-6' />
                    Ir al sitio web
                  </LinkButton>
                )}
              </footer>
            </div>
          </div>
        </article>
      </div>
    ))
  }
</section>
